@model DataLayer.Bank

@{
    ViewData["Title"] = Model.BankName + " Bank";
    Layout = "_ChartLayout";
    string seprator = " ";

    var BankPicture = Model.pic == null ? "Bank.jpg" : Model.pic;

    string Temp = Model.CardNumber.ToString();
    string Card = Temp.Substring(0, 4) + seprator;
    Card += Temp.Substring(4, 4) + seprator;
    Card += Temp.Substring(8, 4) + seprator;
    Card += Temp.Substring(12, 4);

    Temp = Model.ShebaNumber;
    string Sheba = Temp.Substring(0, 4) + seprator;
    Sheba += Temp.Substring(4, 4) + seprator;
    Sheba += Temp.Substring(8, 4) + seprator;
    Sheba += Temp.Substring(12, 4) + seprator;
    Sheba += Temp.Substring(16, 4) + seprator;
    Sheba += Temp.Substring(20, 4) + seprator;
    Sheba += Temp.Substring(24, 2);
}

@section StyleSheets{
    <link rel="stylesheet" href="~/lib/slider/jquery-ui.css">
    <style>
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">@Model.BankName Bank</h2>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <div class="row">
                        <div class="feather-icons overflow-hidden col-md-8">
                            <div class="form-group" style="margin-left: 20px">
                                <dt>
                                    Owner:
                                </dt>
                                <dd>
                                    @Model.Owner
                                </dd>
                                <dt>
                                    Account number:
                                </dt>
                                <dd>
                                    @Model.AccountNumber
                                </dd>
                                <dt>
                                    Card number:
                                </dt>
                                <dd>
                                    @Card
                                </dd>
                                <dt>
                                    Sheba number:
                                </dt>
                                <dd>
                                     @Sheba
                                </dd>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <img class="media-object height-200" src="~/images/Banks/@BankPicture" alt="@Model.BankName">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Table head options start -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Bills</h4>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><input type="button" class="btn btn-sm btn-lighten-2" value="Filter" /></li>
                        <li><a onclick="newBankData(@Model.BankID)"><i class="la la-plus-circle success"></i></a></li>
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                            <tr class="thead-light">
                                <td>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="TrackingNumber" class="control-label">Seaech By Tracking Number:</label>
                                                <input id="TrackingNumber" onkeyup="SeaechByTrackingNumber()" type="text" class="form-control" placeholder="Enter Tracking Number">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="LastFourNumbersOfBankCard" class="control-label">Search By Card Number:</label>
                                                <input id="LastFourNumbersOfBankCard" onkeyup="SeaechByCardNumber()" type="text" class="form-control" placeholder="Enter Card Number">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group ">
                                                <label for="buttomGroup" class="control-label">Filter By Date:</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cursor-pointer" id="FromDate">From</span>
                                                    </div>
                                                    <input disabled type="text" name="FromDate" class="form-control" id="inputFromDate" placeholder="From ..." />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <label for="buttomGroup" class="control-label">.</label>
                                            <div class="form-group ">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cursor-pointer" id="ToDate">&nbsp&nbspTo&nbsp&nbsp</span>
                                                    </div>
                                                    <input disabled type="text" name="ToDate" class="form-control" id="inputToDate" placeholder="To ..." />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group ">
                                                <label for="amount" class="control-label">Filter By Amount:</label>
                                                <label for="amount" class="control-label">ریال</label>
                                                <input type="text" id="amount0" onkeyup="autoScaleSlider()" style="border:0; color:#000; font-weight:bold;">
                                                <label for="amount" class="control-label"> - ریال</label>
                                                <input type="text" onkeyup="autoScaleSlider()" id="amount1" style="border:0; color:#000; font-weight:bold;">
                                                <div id="slider-range"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody><tr><td></td></tr></tbody>
                    </table>

                    <table class="table" id="MyTable">
                        <thead>
                            <tr class="thead-dark">
                                <th scope="col">#</th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Transactions[0].TransactionDate)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Transactions[0].TrackingNumber)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Transactions[0].LastFourNumbersOfBankCard)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Transactions[0].Amount)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }
                            @foreach (var item in Model.Transactions)
                            {
                                <tr>
                                    <th scope="row">@(i++)</th>
                                    <td>
                                        @item.TransactionDate
                                    </td>
                                    <td class="track">
                                        @item.TrackingNumber
                                    </td>
                                    <td class="cardNumber">
                                        @item.LastFourNumbersOfBankCard
                                    </td>
                                    <td class="amount">
                                        @item.Amount
                                    </td>
                                </tr>
                            }
                            <tr class="thead-light">
                                <th scope="row">Total</th>
                                <td colspan="3"></td>
                                <td id="sumAmount"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table head options end -->

<div class="form-group" style="float: right; right:25px; position:relative;">
    <p class="btn btn-light btn-sm"><i class="la la-cloud-upload"></i> Import</p>
    <p class="btn btn-light btn-sm"><i class="la la-cloud-download"></i> Export</p>
</div>


@section Script{
    <script src="~/lib/slider/jquery-ui.js"></script>
    <script src="~/js/jquery.md.bootstrap.datetimepicker.js"></script>
    <script src="~/js/pages/app.js"></script>
    <script>
        function createSlider(min, max) {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: @ViewBag.maxAmount,
            values: [min, max],
                slide: function (event, ui) {
                    $("#amount0").val(ui.values[0]);
                    $("#amount1").val(ui.values[1]);
                    autoScale();
                    SeaechByAmountRange();
                }
            });
        };

        $(function () {
            createSlider(0, @ViewBag.maxAmount);
            $("#amount0").val($("#slider-range").slider("values", 0));
            $("#amount1").val($("#slider-range").slider("values", 1));
            autoScaleSlider();

            $('#FromDate').MdPersianDateTimePicker({
                targetTextSelector: '#inputFromDate',
                fromDate: true,
                selectedDate: new Date('@ViewBag.FromDate'),
                groupId: 'rangeSelector1',
                dateFormat: 'yyyy/MM/dd',
                textFormat: 'yyyy/MM/dd',
            });

            $('#ToDate').MdPersianDateTimePicker({
                targetTextSelector: '#inputToDate',
                toDate: true,
                selectedDate: new Date('@ViewBag.ToDate'),
                groupId: 'rangeSelector1',
                dateFormat: 'yyyy/MM/dd',
                textFormat: 'yyyy/MM/dd',
            });
        });
    </script>
}