@model DataLayer.Bank
@using Mehr.Classes

@{
    ViewData["Title"] = Model.BankName + " Bank";
    Layout = "_ChartLayout";
    string seprator = " ";

    var BankPicture = Model.pic == null ? "Bank.jpg" : Model.pic;

    string Temp = Model.CardNumber.ToString();
    string Card = Temp.Substring(0, 4) + seprator;
    Card += Temp.Substring(4, 4) + seprator;
    Card += Temp.Substring(8, 4) + seprator;
    Card += Temp.Substring(12, 4);

    Temp = Model.ShebaNumber;
    string Sheba = Temp.Substring(0, 4) + seprator;
    Sheba += Temp.Substring(4, 4) + seprator;
    Sheba += Temp.Substring(8, 4) + seprator;
    Sheba += Temp.Substring(12, 4) + seprator;
    Sheba += Temp.Substring(16, 4) + seprator;
    Sheba += Temp.Substring(20, 4) + seprator;
    Sheba += Temp.Substring(24, 2);
}

@section StyleSheets{
    <link href="~/css/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/slider/jquery-ui.css">
    <style>
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">@Model.BankName Bank</h2>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a class="btn btn-warning" onclick="editBank(@Model.BankID)">Edit</a></li>
                        <li><a class="btn btn-danger" onclick="deleteBank(@Model.BankID)">Delete</a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <div class="row">
                        <div class="feather-icons overflow-hidden col-md-8">
                            <div class="form-group" style="margin-left: 20px">
                                <dt>
                                    Owner:
                                </dt>
                                <dd>
                                    @Model.Owner
                                </dd>
                                <dt>
                                    Account number:
                                </dt>
                                <dd>
                                    @Model.AccountNumber
                                </dd>
                                <dt>
                                    Card number:
                                </dt>
                                <dd>
                                    @Card
                                </dd>
                                <dt>
                                    Sheba number:
                                </dt>
                                <dd>
                                    @Sheba
                                </dd>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <img class="media-object height-200" src="~/images/Banks/@BankPicture" alt="@Model.BankName">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    ViewBag.BankID = Model.BankID;
}
@await Component.InvokeAsync("DetailsBankTable", new { bankDatas = Model.Transactions, FromDate = ViewBag.FromDate, ToDate = ViewBag.ToDate })


@section Script{
    <script src="~/lib/slider/jquery-ui.js"></script>
    <script src="~/js/jquery.md.bootstrap.datetimepicker.js"></script>
    <script src="~/js/pages/app.js"></script>
    <script>
        function createSlider(min, max) {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: @TempData["maxAmount"],
            values: [min, max],
                slide: function (event, ui) {
                    $("#amount0").val(ui.values[0]);
                    $("#amount1").val(ui.values[1]);
                    autoScale();
                    SeaechByAmountRange();
                }
            });
        };

        $(function () {
            createSlider(0, @TempData["maxAmount"]);
            $("#amount0").val($("#slider-range").slider("values", 0));
            $("#amount1").val($("#slider-range").slider("values", 1));
            autoScaleSlider();

            $('#FromDate').MdPersianDateTimePicker({
                targetTextSelector: '#inputFromDate',
                fromDate: true,
                selectedDate: new Date('@TempData["FromDate"]'),
                groupId: 'rangeSelector1',
                dateFormat: 'yyyy/MM/dd',
                textFormat: 'yyyy/MM/dd',
            });

            $('#ToDate').MdPersianDateTimePicker({
                targetTextSelector: '#inputToDate',
                toDate: true,
                selectedDate: new Date('@TempData["ToDate"]'),
                groupId: 'rangeSelector1',
                dateFormat: 'yyyy/MM/dd',
                textFormat: 'yyyy/MM/dd',
            });
        });
    </script>
}