@model DataLayer.Colleague

@{
    ViewData["Title"] = "Details";
    Layout = "_ChartLayout";
    ViewBag.ChartData = "[125, 200, 125, 225, 125, 200, 125, 225, 175, 275, 220]";
}

<section id="basic-buttons">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">@Model.Name</h3>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img style="left: 50px; height: 150px; width: 150px;" class="media-object rounded-circle" style="height: 100px;" src="~/theme-assets/images/portrait/small/avatar-s-7.png" alt="Generic placeholder image">
                            </div>
                            <div class="col">
                                <dl class="row">
                                    <dt class = "col-sm-5">
                                        @Html.DisplayNameFor(model => model.PhoneNumber)
                                    </dt>
                                    <dd class = "col-sm-5">
                                        0@(Html.DisplayFor(model => model.PhoneNumber))
                                    </dd>
                                    <dt class = "col-sm-5">
                                        @Html.DisplayNameFor(model => model.BirthDay)
                                    </dt>
                                    <dd class = "col-sm-5">
                                        @Html.DisplayFor(model => model.BirthDay)
                                    </dd>
                                    <dt class = "col-sm-5">
                                        @Html.DisplayNameFor(model => model.StartActivity)
                                    </dt>
                                    <dd class = "col-sm-5">
                                        @Html.DisplayFor(model => model.StartActivity)
                                    </dd>
                                    <dt class = "col-sm-5">
                                        @Html.DisplayNameFor(model => model.code)
                                    </dt>
                                    <dd class = "col-sm-5">
                                        @Html.DisplayFor(model => model.code)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div style="position:absolute; right: 30px; bottom: 20px">
                                <a class="btn btn-warning" asp-controller="Colleague" asp-action="Edit" asp-route-id="@Model.ColleagueID">Edit</a>
                                <a class="btn btn-danger" asp-controller="Colleague" asp-action="Delete" asp-route-id="@Model.ColleagueID">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<form asp-controller="SponsorTransaction" asp-action="Createzar" method="POST" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="BankData" value="Melli">
    <input type="hidden" name="ColleagueID" value="@Model.ColleagueID">

    <input type="file" accept="Excel/xlsx" name="XLSXfile">
    <input type="submit" value="Import" class="btn btn-success" />
</form>

@await Component.InvokeAsync("DetailsColleagueTable", new {id = Model.ColleagueID})