@model DataLayer.Colleague
@using Mehr.Classes

@{
    ViewData["Title"] = "Details";
    Layout = "_ChartLayout";
}

@section StyleSheets{
    <link rel="stylesheet" href="~/lib/slider/jquery-ui.css">
    <link href="~/css/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
}

<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@Model.Name</h3>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a class="btn btn-warning" asp-controller="Colleague" asp-action="Edit" asp-route-id="@Model.ColleagueID">Edit</a></li>
                    <li><a class="btn btn-danger" onclick="deleteColleague(@Model.ColleagueID)">Delete</a></li>
                </ul>
            </div>
        </div>
        @{
            string profile = Model.picName;

            if (profile == "" || profile == null)
            {
                profile = Model.isMale ? "Male.jpg" : "Female.jpg";
            }

            string color = Model.color;

            if (color == "" || color == null)
            {
                color = "#fff";
            }
            string gender = Model.isMale ? "Male" : "Female";
        }
        <div class="card-content collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <dl class="row">
                            <dt class="col-sm-5">
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </dt>
                            <dd class="col-sm-5">
                                0@(Html.DisplayFor(model => model.PhoneNumber))
                            </dd>
                            <dt class="col-sm-5">
                                @Html.DisplayNameFor(model => model.BirthDay)
                            </dt>
                            <dd class="col-sm-5">
                                @Model.BirthDay.ToSolar()
                            </dd>
                            <dt class="col-sm-5">
                                @Html.DisplayNameFor(model => model.StartActivity)
                            </dt>
                            <dd class="col-sm-5">
                                @Model.StartActivity.ToSolar()
                            </dd>
                            <dt class="col-sm-5">
                                @Html.DisplayNameFor(model => model.code)
                            </dt>
                            <dd class="col-sm-5">
                                @Html.DisplayFor(model => model.code)
                            </dd>
                            <dt class="col-sm-5">
                                @Html.DisplayNameFor(model => model.isMale)
                            </dt>
                            <dd class="col-sm-5">
                                @gender
                            </dd>
                            <dt class="col-sm-5">
                                @Html.DisplayNameFor(model => model.color)
                            </dt>
                            <dd class="col-sm-5">
                                @color
                            </dd>
                        </dl>
                    </div>
                    <div class="col-3">
                        <img style="height: 180px; width: 180px; border: solid @color 10px;" class="media-object rounded-circle" style="height: 100px;" src="~/images/Profiles/@profile" alt="Generic placeholder image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    @await Component.InvokeAsync("DetailsColleagueTable", new { id = Model.ColleagueID })
</div>

<!--  hidden form   -->
<form id="ImportForm" asp-controller="SponsorTransaction" asp-action="Import" method="POST" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="ColleagueID" value="@Model.ColleagueID">
    <input onchange="changefileExcel()" id="btnImportForm" type="file" accept=".xlsx,.xls,.txt,.csv" name="XLSXfile" style="display:none;">
</form>

<!--  hidden form   -->
<form id="ExportForm" asp-controller="SponsorTransaction" asp-action="Export" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="ColleagueID" value="@Model.ColleagueID">
</form>


@section Script{
    <script src="~/lib/slider/jquery-ui.js"></script>
    <script src="~/js/jquery.md.bootstrap.datetimepicker.js"></script>
    <script src="~/js/pages/app.js"></script>

    <script>
        function createSlider(min, max) {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: @TempData["maxAmount"],
            values: [min, max],
                slide: function (event, ui) {
                    $("#amount0").val(ui.values[0]);
                    $("#amount1").val(ui.values[1]);
                    autoScale();
                    SeaechByAmountRange();
                }
            });
        };

        $(function () {
            createSlider(0, @TempData["maxAmount"]);
            $("#amount0").val($("#slider-range").slider("values", 0));
            $("#amount1").val($("#slider-range").slider("values", 1));
            autoScaleSlider();

            $('#FromDate').MdPersianDateTimePicker({
                targetTextSelector: '#inputFromDate',
                fromDate: true,
                selectedDate: new Date('@ViewBag.FromDate'),
                groupId: 'rangeSelector1',
                dateFormat: 'yyyy/MM/dd',
                textFormat: 'yyyy/MM/dd',
            });

            $('#ToDate').MdPersianDateTimePicker({
                targetTextSelector: '#inputToDate',
                toDate: true,
                selectedDate: new Date('@ViewBag.ToDate'),
                groupId: 'rangeSelector1',
                dateFormat: 'yyyy/MM/dd',
                textFormat: 'yyyy/MM/dd',
            });
        });
    </script>
}