@model IEnumerable<DataLayer.SponsorTransaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LateFourNumbersOfBankCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MySponsor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LateFourNumbersOfBankCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MySponsor.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SponsorTransactionsID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SponsorTransactionsID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SponsorTransactionsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
