@model IEnumerable<DataLayer.SponsorTransaction>
@using Mehr.Classes
<!-- Table head options start -->

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Transactions</h4>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><input onclick="FilterFromTo(@TempData["ColleagueID"])" type="button" class="btn btn-sm btn-lighten-2" value="Filter" /></li>
                <li><a onclick="newSponsorTransaction(@TempData["ColleagueID"],'Colleague')"><i class="la la-plus-circle success"></i></a></li>
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-content collapse show">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="thead-light">
                        <td>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="MySponsor" class="control-label">Seaech By Sponsor Name:</label>
                                        <input id="SponsorSearch" onkeyup="SeaechBySponsorName()" type="text" class="form-control" placeholder="Enter Sponsor Name">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group ">
                                        <label for="buttomGroup" class="control-label">Filter By Date:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cursor-pointer" id="FromDate">From</span>
                                            </div>
                                            <input disabled type="text" name="FromDate" class="form-control" id="inputFromDate" placeholder="From ..." />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="buttomGroup" class="control-label">.</label>
                                    <div class="form-group ">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text cursor-pointer" id="ToDate">&nbsp&nbspTo&nbsp&nbsp</span>
                                            </div>
                                            <input disabled type="text" name="ToDate" class="form-control" id="inputToDate" placeholder="To ..." />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group ">
                                        <label for="amount" class="control-label">Filter By Amount:</label>
                                        <label for="amount" class="control-label">ریال</label>
                                        <input type="text" id="amount0" onkeyup="autoScaleSlider()" style="border:0; color:#000; font-weight:bold;">
                                        <label for="amount" class="control-label"> - ریال</label>
                                        <input type="text" onkeyup="autoScaleSlider()" id="amount1" style="border:0; color:#000; font-weight:bold;">
                                        <div id="slider-range"></div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </thead>
                <tbody><tr><td></td></tr></tbody>
            </table>

            <table class="table" id="MyTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.MySponsor)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.MyTransaction.TransactionDate)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.CauseOfSupport)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.OtherSupport)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.MyTransaction.Amount)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                    }
                    @foreach (var item in Model)
                    {
                    <tr>
                        <th scope="row">@(i++)</th>
                        <td class="sponsor">
                            <a asp-controller="Sponsor" asp-action="Details" asp-route-id="@item.MySponsor.SponsorID">
                                @Html.DisplayFor(modelItem => item.MySponsor.Name)
                            </a>
                        </td>
                        <td>
                            @{ 
                                string date, time;
                                DateTime dateTime = Convert.ToDateTime((item.MyTransaction?.TransactionDate ?? item.MyReceipt?.TransactionDate));
                                date = dateTime.ToSolar();
                                time = dateTime.TimeOfDay.ToString();
                            }
                            @(date + " " + time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CauseOfSupport)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OtherSupport)
                        </td>
                        <td class="amount">
                            @(item.MyTransaction?.Amount ?? item.MyReceipt?.Amount)
                        </td>
                    </tr>
                    }
                    <tr class="thead-light">
                        <th scope="row">Total</th>
                        <td colspan="4"></td>
                        <td id="sumAmount"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<!-- Table head options end -->

<div class="form-group importExportform">
    <p id="btnImport" onclick="btnImportClick()" class="btn btn-light btn-sm"><i class="la la-cloud-upload"></i> Import</p>
    <p id="btnExport" class="btn btn-light btn-sm"><i class="la la-cloud-download"></i> Export</p>
</div>