@model IEnumerable<DataLayer.Colleague>


<div class="col-xl-6 col-md-6 col-sm-12">
	<div class="card">
		<div class="card-content">
			<div class="card-body">
				<div class="form-group">
					<label for="input-search" class="sr-only">Search:</label>
					<input type="input" class="form-control" id="input-search" placeholder="Type to search..." value="">
				</div>
			</div>
			<div id="recent-buyers" class="media-list">
			@foreach (var item in Model)
			{		
				<div class="media border-0">	
					<div class="media-left pr-1">
						<a asp-controller="Colleague" asp-action="Details" asp-route-id="@item.ColleagueID">
							<span class="avatar avatar-md">
								<img class="media-object rounded-circle" src="theme-assets/images/portrait/small/avatar-s-7.png" alt="Generic placeholder image">
								<i></i>
							</span>
						</a>
					</div>
					<div class="media-body w-100">
						<a asp-controller="Colleague" asp-action="Details" asp-route-id="@item.ColleagueID">
							<span class="list-group-item-heading">@item.Name</span>
						</a>
						<ul class="list-unstyled users-list m-0 float-right" style="right: 10px;">
							<li class="avatar avatar-sm pull-up">
								@* <a onclick="deleteColleague(@item.ColleagueID)"> *@
								<div onclick="deleteColleague(@item.ColleagueID)">
									<i class="la la-trash-o media-object rounded-circle no-border-top-radius no-border-bottom-radius"></i>
								</div>
							</li>
							<li class="avatar avatar-sm pull-up">
								<a asp-controller="Colleague" asp-action="Edit" asp-route-id="@item.ColleagueID">
									<i class="la la-edit media-object rounded-circle no-border-top-radius no-border-bottom-radius"></i>
								</a>
							</li>
							<li class="avatar avatar-sm pull-up">
							</li>
						</ul> 
						<p class="list-group-item-text mb-0">
							<span class="blue-grey lighten-2 font-small-3">#@item.code</span>
						</p>
					</div>
				</div>
			}
			</div>
		</div>
	</div>
</div>
