@model IEnumerable<DataLayer.Colleague>


<div class="col-xl-6 col-md-6 col-sm-12">
	<div class="card">
		<div class="card-content">
			<div class="card-body">
				<div class="form-group">
					<label for="input-search" class="sr-only">Search:</label>
					<input type="input" class="form-control" id="input-search" placeholder="Type to search..." value="">
				</div>
			</div>
			<div id="recent-buyers" class="media-list">
			@foreach (var item in Model)
			{
                <div class="media border-0">
                    @{
                        string profile = item.picName;

                        if (profile == "" || profile == null)
                        {
                            profile = item.isMale ? "Male.jpg" : "Female.jpg";
                        }

                        string color = item.color;

                        if (color == "" || color == null)
                        {
                            color = "#fff";
                        }
                    }
                    <div class="media-left pr-1">
                        <a asp-controller="Colleague" asp-action="Details" asp-route-id="@item.ColleagueID">
                            <span class="avatar avatar-md">
                                <img style="width: 40px; height: 40px;" class="media-object rounded-circle" src="~/images/Profiles/@profile" alt="Generic placeholder image">
                                <i></i>
                            </span>
                        </a>
                    </div>
                    <div style="width: 5px; height:40px; border-radius: 3px; background-color: @color; margin-right: 10px"></div>
                    <div class="media-body w-100">
                        <a asp-controller="Colleague" asp-action="Details" asp-route-id="@item.ColleagueID">
                            <span class="list-group-item-heading">@item.Name</span>
                        </a>
                        <ul class="list-unstyled users-list m-0 float-right" style="right: 10px;">
                            <li class="avatar avatar-sm pull-up">
                                <div onclick="deleteColleague(@item.ColleagueID)">
                                    <i class="la la-trash-o media-object rounded-circle no-border-top-radius no-border-bottom-radius"></i>
                                </div>
                            </li>
                            <li class="avatar avatar-sm pull-up">
                                <a asp-controller="Colleague" asp-action="Edit" asp-route-id="@item.ColleagueID">
                                    <i class="la la-edit media-object rounded-circle no-border-top-radius no-border-bottom-radius"></i>
                                </a>
                            </li>
                            <li class="avatar avatar-sm pull-up">
                            </li>
                        </ul>
                        <p class="list-group-item-text mb-0">
                            <span class="blue-grey lighten-2 font-small-3">#@item.code</span>
                        </p>
                    </div>
                </div>
			}
			</div>
		</div>
	</div>
</div>
