@model IEnumerable<DataLayer.BankData>

@{
    ViewData["Title"] = ViewBag.BankName.Name + " Bank";
    Layout = "_ChartLayout";
}

@section StyleSheets{
    <link rel="stylesheet" href="~/lib/slider/jquery-ui.css">
    <style>
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">@ViewBag.BankName.Name</h2>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <div class="row">
                        <div class="feather-icons overflow-hidden col-md-8">
                            <div class="form-group" style="margin-left: 20px">
                                <dt>
                                    Owner:
                                </dt>
                                <dd>
                                    خیریه مأوای همدلی و روشنی ایتام
                                </dd>
                                <dt>
                                    Account number:
                                </dt>
                                <dd>
                                    1234567890
                                </dd>
                                <dt>
                                    Card number:
                                </dt>
                                <dd>
                                    6037997594152025
                                </dd>
                                <dt>
                                    Sheba number:
                                </dt>
                                <dd>
                                    IR41 0223 0223 0223 0223 0223 23
                                </dd>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <img class="media-object height-200" src="~/images/Banks/@ViewBag.BankName.Image" alt="@ViewBag.BankName.Name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Table head options start -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Bills</h4>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                            <tr class="thead-light">
                                <td class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="TrackingNumber" class="control-label">Seaech By Tracking Number:</label>
                                            <input id="TrackingNumber" type="text" class="form-control" placeholder="Enter Tracking Number">
                                        </div>
                                        <div class="form-group">
                                            <label for="LateFourNumbersOfBankCard" class="control-label">Search Bt Last Four Number Of Card Number:</label>
                                            <input id="LateFourNumbersOfBankCard" type="text" class="form-control" placeholder="Enter Card Number">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <form action="#" method="post">
                                            <div class="form-group"
                                                <label for="buttomGroup" class="control-label">Filter By Date:</label>
                                                <div class="btn-group" id="buttomGroup" role="group" aria-label="Basic example" style="padding: 2px;">
                                                    <button type="button" class="btn btn-secondary">From</button>
                                                    <input type="date" name="FromDate" class="form-control btn-sm" style="border-radius: 0;" />
                                                    <button type="button" class="btn btn-secondary">To</button>
                                                    <input type="date" name="ToDate" class="form-control btn-sm" style="border-radius: 0;" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="amount" class="control-label">Filter By Amount:</label>
                                                <label for="amount" class="control-label">ریال</label>
                                                <input type="text" id="amount0" onkeyup="autoScaleSlider()" style="border:0; color:#000; font-weight:bold;">
                                                <label for="amount" class="control-label"> - ریال</label>
                                                <input type="text" onkeyup="autoScaleSlider()" id="amount1" style="border:0; color:#000; font-weight:bold;">
                                                <div id="slider-range"></div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-light btn-sm" style="position:relative; float: right;">
                                                    <i class="la la-filter"></i>Filter
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody><tr><td></td></tr></tbody>
                    </table>

                    <table class="table" id="MyTable">
                        <thead>
                            <tr class="thead-dark">
                                <th scope="col">#</th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.TransactionDate)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.TrackingNumber)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.LastFourNumbersOfBankCard)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Amount)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@(i++)</th>
                                    <td>
                                        @Html.DisplayFor(model => item.TransactionDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.TrackingNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.LastFourNumbersOfBankCard)
                                    </td>
                                    <td class="amount">
                                        @Html.DisplayFor(model => item.Amount)
                                    </td>
                                </tr>
                            }
                            <tr class="thead-light">
                                <th scope="row">Total</th>
                                <td colspan="3"></td>
                                <td id="sumAmount"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table head options end -->

<div class="form-group" style="float: right; right:25px; position:relative;">
    <p class="btn btn-light btn-sm"><i class="la la-cloud-upload"></i> Import</p>
    <p class="btn btn-light btn-sm"><i class="la la-cloud-download"></i> Export</p>
</div>


@section Script{
    <script src="~/lib/slider/jquery-1.12.4.js"></script>
    <script src="~/lib/slider/jquery-ui.js"></script>
    <script>
        $(function () {
            createSlider(0, @ViewBag.maxAmount);
            $("#amount0").val($("#slider-range").slider("values", 0));
            $("#amount1").val($("#slider-range").slider("values", 1));
            autoScaleSlider();
        });

        function setSumAmount(value) {
            $("#sumAmount").html(value);
        }

        function createSlider(min, max) {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: @ViewBag.maxAmount,
                values: [min, max],
                slide: function (event, ui) {
                    $("#amount0").val(ui.values[0]);
                    $("#amount1").val(ui.values[1]);
                    autoScale();
                    SeaechByAmountRange();
                }
            });
            };

        function autoScale() {
            var x = document.getElementById("amount0");
            var y = document.getElementById("amount1");
            x.style.width = ((x.value.length + 2) * 8) + 'px';
            y.style.width = ((y.value.length + 2) * 8) + 'px';
        };

        function autoScaleSlider() {
            var min = document.getElementById("amount0").value;
            var max = document.getElementById("amount1").value;
            createSlider(Number(min), Number(max));
            autoScale();
            SeaechByAmountRange();
        };

        function SeaechByAmountRange() {
            var val0, val1, table, tr, td, i, txtValue, sum;
            sum = 0;
            val0 = Number(document.getElementById("amount0").value);
            val1 = Number(document.getElementById("amount1").value);
            table = document.getElementById("MyTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByClassName("amount")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (Number(txtValue) <= val0 || Number(txtValue) >= val1) {
                        tr[i].style.display = "none";
                    } else {
                        tr[i].style.display = "";
                        sum = sum + parseFloat(txtValue);
                    }
                }
            }
            setSumAmount(sum);
        };
    </script>
}